:root {
  /* COLORS */
  --bg: linear-gradient(180deg, #2c2929, #000000);
  --search-bg: #222222dd;
  --card-bg: #222222dd;
  --text-white: #ffffff;
  --text-muted: #868686;
  --accent: #59A6F7;
  --accent-red: #D80621;
  --accent-pink: #e673c6;
  --outline: rgba(255, 255, 255, 0.3);
  --reason-outline: 1px solid rgba(255, 255, 255, 0.1);

  --loading-stripe-light: rgb(23, 23, 23);
  --loading-stripe-dark: rgb(22, 22, 22);

  /* FONT SIZE TOKENS */
  --fs-location-min: 16px;
  --fs-location-max: 19px;

  --fs-title-min: 26px;
  --fs-title-max: 38px;

  --fs-tomorrow-min: 48px;
  --fs-tomorrow-max: 80px;

  --fs-tomorrow-percent-min: 48px;
  --fs-tomorrow-percent-max: 80px;

  --fs-metric-value-min: 36px;
  --fs-metric-value-max: 64px;

  --fs-metric-label-min: 14px;
  --fs-metric-label-max: 22px;

  --fs-others-label-min: 12px;
  --fs-others-label-max: 20px;

  --fs-alert-label-min: 12px;
  --fs-alert-label-max: 25px;
}