<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Snow Day Predictor</title>

  <!-- Inter Variable -->
  <link
    rel="stylesheet"
    href="https://rsms.me/inter/inter.css"
  />

  <link rel="stylesheet" href="../static/style.css" />

  <!-- Tells Safari/Chrome what color the browser UI should be -->
  <meta name="theme-color" content="#000000">

  <!-- Optional: better behavior with dark mode -->
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">

</head>
<body>
  <main class="page">
    <header class="header">
      <h1 class="location">Owen Sound</h1>
      <h2 class="title">Snow Day Predictor.</h2>
      <p class="subtitle">Hoping for a snow day?</p>
    </header>

    <section class="card">
      <!-- Top -->
      <div class="current">
        <div class="current-percent">18%</div>
        <div class="current-label">Tomorrow</div>
      </div>

      <div class="others">
        <div class="others-amount">2,367 other are hoping for a snow day 🔥</div>
      </div>

      <div>
        <section class="line">
        </section>
      </div>

      <div>
        <div class ="forecast-label">4-Day Forecast</div>
      </div>

      <!-- Bottom -->
      <div class="metrics">
        <div class="metric">
          <div class="metric-value">22%</div>
          <div class="metric-label">Tuesday</div>
        </div>
        <div class="metric">
          <div class="metric-value">18%</div>
          <div class="metric-label">Wednesday</div>
        </div>
        <div class="metric">
          <div class="metric-value">5%</div>
          <div class="metric-label">Thursday</div>
        </div>
        <div class="metric">
          <div class="metric-value">67%</div>
          <div class="metric-label">Friday</div>
        </div>
      </div>
    </section>
  </main>

<script>
  function updateProbabilities(list) {
    document.querySelector(".current-percent").textContent =
      list[0].snow_day_probability + "%";
    document.querySelector(".current-label").textContent =
      list[0].weekday;

    const metricValues = document.querySelectorAll(".metric-value");
    const metricLabels = document.querySelectorAll(".metric-label");

    for (let i = 1; i < list.length; i++) {
      metricValues[i - 1].textContent = list[i].snow_day_probability + "%";
      metricLabels[i - 1].textContent = list[i].weekday;
    }
  }

  const results = JSON.parse(`{{ data | tojson | safe }}`);
  updateProbabilities(results);
</script>

<script>
  function updateOthers(value) {
    document.querySelector(".others-amount").textContent =
      value + " others are hoping for a snow day 🔥";
  }

  const value = Number(`{{ counter_value }}`);
  updateOthers(value);
</script>

</body>
</html>